#root {
  min-height: 100dvh;
  width: 100dvw;
  margin: 0 auto;
  background-color: ghostwhite;
  text-align: center;
}

.app {
  min-height: 100dvh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main-content {
  grid-area: main;
  background-color: #f1f1f1;
  padding-top: 44px;
  min-height: 88dvh;
}

.main-content h1, .main-content p {
  color: black;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  color: black;
}

.menuProcedures, .menuMyFolder, .menuAnnouncements {
    display: flex;
    margin: 0 20px;
    align-items: center;
    gap: 5px;
}

.adminUsersView .menuMyFolder,
.adminProcedureView .menuMyFolder,
.adminAnnouncementView .menuMyFolder {
    margin: 15px 20px;
}

.menuProcedures img, .menuMyFolder img, .menuAnnouncements img {
    width: 10px;
    height: 10px;
}

.isLoading, .error {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: black;
}

.error {
    justify-content: left;
    padding-left: 12px;
}

@media (min-width: 768px) {
  .main-content {
    display: flex;
    justify-content: center;
    padding-top: 55px;
  }
}